@import 'styles/shared.scss';

.card {
  background: $element-background-color;
  color: $grey;
  border-radius: 10px;
  min-width: 320px;
  padding: 15px;
  margin: 1em;
  border: 1px solid $primary-background-color;
}

.card:hover {
  background: $primary-shadow-color;
  color: $white;
  box-shadow: 2px 3px 3px 2px $primary-shadow-color;
}
.weather {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.flex {
  list-style: none;
  text-transform: capitalize;
  padding: 0;
}
.icon {
  margin-left: auto;
  margin-right: auto;
  width: 90px;
}
