.Clock {
  font-size: 18px;
  text-align: center;
  margin: 5px;
  padding: 4px;
  border: 1px solid teal;
  border-radius: 5px;
  background-color: rgba(232, 74, 95, 0.1);
  text-shadow: 1px 1px 3px rgba(0, 128, 128, 0.6);
}
.Clock__time {
  font-weight: 500;
}
