@import 'styles/shared.scss';

.ColorPicker {
  display: inline-block;
  padding: 10px;
}

.ColorPicker__option {
  @extend %button;
  display: inline-block;
  min-width: 60px;
  width: auto;
  height: auto;
  margin: 5px;
  padding: 5px 10px;
  transition: transform 250ms linear;
}

.ColorPicker__option--active {
  transform: scale(1.2);
}
