@import 'styles/shared.scss';
.contactsContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto 40px;
  width: 500px;
  text-align: center;
  font-weight: 500;
}
.contactsList {
  text-align: left;
  padding: 0px;
  margin: 0;
  font-size: 20px;
  line-height: 1.4;
}
.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px;
  padding: 5px 8px;
  background-color: $element-background-color;
  border: 1px solid $primary-background-color;
  border-radius: 5px;
}
.contactItem:hover {
  box-shadow: 2px 3px 3px $primary-shadow-color;
}
.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.actions button {
  border: none;
  border-radius: 5px;
  padding: 3px 8px;
  background-color: $grey;
  color: $white;
  margin: 3px;
  font-size: medium;
  cursor: pointer;
  outline: none;
  box-shadow: 1px 2px 2px 0 $secondary-shadow-color;
}
.actions button:hover {
  background-color: $active-background-color;
  box-shadow: 1px 2px 2px 1px $primary-shadow-color;
}
